{% extends 'base.html' %}
{% load thumbnail %}
{% load static %}
{% load humanize %}
{% load mathfilters %}
{% load addthis %}

{% block social %}

    <meta property="og:title" content="{{ adv.name }}" />
    <meta property="og:description" content="Watch the AddThis Tour video." />
    <meta property="og:image" content="http://i2.ytimg.com/vi/1F7DKyFt5pY/default.jpg" />
    <meta property="og:url" content="http://i2.ytimg.com" />


{% endblock %}

{% block content %}



    <main class="container-fluid listing-detail-page" id="listing-detail-page">
        <div class="row">
            <div class="col-xs-12">

                <div class="row hidden-xs">
                    <div class="col-xs-12 col-sm-9 breadcrumbs">
                        <ol class="breadcrumb">


                            <li><a href="/">Home</a></li>
                            <li><a href="{{ adv.category.get_absolute_url }}">{{ adv.category.name }}</a></li>
                            <li><a href="{{ adv.subcategory.get_absolute_url }}">{{ adv.subcategory.name     }}</a></li>
                        </ol>
                    </div>
                </div>

                <div class="row">
                    <!-- Left Column-->
                    <div class="col-sm-9 left-col">
                        <!-- Left Column Top Row-->
                        <div class="row">
                            <div class="col-xs-12 main-col">
                                <div class="main-details-section">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <h1 class="text-medium text-center listing-title-text">
                                                <strong>{{ adv.name }}</strong>
                                            </h1>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <!-- Listing Images Column -->
                                        <div class="col-xs-12 col-md-7 images-col">
                                            <div class="listing-images">
                                                <!--   добавить слайдер с фото -->

                                                <div id="blueimp-gallery" class="blueimp-gallery">
                                                    <div class="slides"></div>
                                                    <h3 class="title"></h3>
                                                    <a class="prev">‹</a>
                                                    <a class="next">›</a>
                                                    <a class="close">×</a>
                                                    <a class="play-pause"></a>
                                                    <ol class="indicator"></ol>
                                                </div>

                                                <div id="blueimp-gallery-carousel"
                                                     class="blueimp-gallery blueimp-gallery-carousel">
                                                    <div class="slides"></div>
                                                    <h3 class="title"></h3>
                                                    <a class="prev">‹</a>
                                                    <a class="next">›</a>
                                                    <a class="play-pause"></a>
                                                    <ol class="indicator"></ol>
                                                </div>


                                                {% if fotolist %}
                                                    <div id="links">
                                                        {% for foto in fotolist %}

                                                            <a href="{{ foto.file.url }}" title="{{ foto.good.name }}">

                                                               <img src="{{ foto.file.url }}" style="width: 50px">


                                                            </a>
                                                        {% endfor %}

                                                    </div>
                                                {% endif %}


                                                <!--   добавить слайдер с фото -->
                                            </div>
                                        </div>
                                        <!-- End Listing Images Column -->

                                        <!-- Item Details Column -->
                                        <div class="col-xs-12 col-sm-5 hidden-sm details-col">
                                            <div class="listing-details-main">
                                                 {% if adv.is_salles %}
                                                <div id="detail-cost-wrapper" class="detail-cost-wrapper text-center">
                                                    <span class="listing-price-text title formatted">

{#                                                        <sup>{{ adv.ua_price.1|safe }}</sup>#}

                                                        {{ adv.salles_price|intcomma }} {{ adv.ua_price.1|safe }}



                                                    </span>
                                                    <input type="hidden" value="{{ adv.salles_price }}" id="list-price">
                                                </div>


                                                 <div class="sale-detail">
                                                 Старая цена
                                                 <span class="old-price">
                                                        {{ adv.price|intcomma }} {{ adv.ua_price.1|safe }}
                                                 </span>
                                                 </div>


                                                 <div class="sale-detail">
                                                     Вы экономите

                                                     <span class="old-price-per">
                                                       {{ adv.price|sub:adv.salles_price|intcomma }} {{ adv.ua_price.1|safe }}
                                                 </span>
                                                     </div>

                                                {% else %}
                                                <div id="detail-cost-wrapper" class="detail-cost-wrapper text-center">
                                                    <span class="listing-price-text title formatted">
                                                        {{ adv.price|intcomma  }} {{ adv.ua_price.1|safe }}
                                                        </span>
                                                    <input type="hidden" value="{{ adv.price }}" id="list-price">
                                                </div>

                                                 {% endif %}



                                                <div class="hidden-xs">
                                                    <a href="#"
                                                       class="btn btn-orange text-center text-medium buy-now-btn"
                                                       attr-marketplace="{{ adv.category }}">Купить</a>

                                                </div>


                                                <div class="attributes">

                                                   {% for foo in attribute %}
                                                            {{ foo.attribute_name.verbos_name }} :
                                                            {{ foo.value}}

                                                    <br>
                                                   {% endfor %}

{#                                                        Состояние : {% if adv.condition  == 'New' %}#}
{#                                                        Новое {% else %} Б\у {%endif %}#}



                                                </div>


                                            </div>


                                        </div>
                                        <!-- End Item Details Column -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Left Column Top Row -->

                        <!-- Left Column Lower Rows -->
                        <div class="row">
                            <div class="col-sm-12 col-lg-12 left-col-nested">


                                <div class="row mobile-col">
                                    <div class="col-xs-12">
                                        <div class="section-container item-description-container" id="item-description">
                                            <div class="visible-xs">
                                                <a role="button" data-toggle="collapse" href="#description"
                                                   aria-expanded="false" aria-controls="description">
                                                    <p>Описание</p><i class="icon-drop_down_arrow"></i>
                                                </a>
                                            </div>

                                            <div class="hidden-xs">
                                                <p class="text-medium text-center description-header">
                                                    <strong>Описание</strong></p>

                                            </div>

                                            <div class="collapse in" id="description">
                                                <div class="collapse-wrapper">

                                                    <p class="item-description">{{ adv.description|safe }}</p>


                                                </div>
                                            </div>

                                            <span id="comments"></span>
                                        </div>

                                    </div>


                                    <!-- ReactJS Comments Components-->
                                    <div class="col-xs-12 hidden-xs hidden-sm">
                                        <div id="listing-comments-desktop">
                                            <div class="comments-container">
                                                <div class="comments-wrapper"><p
                                                        class="text-medium text-center comments-header"
                                                ><strong>
                                                    Другие обьявления продавца</strong></p>
                                                    <div>

                                                        <a href="#" class="leave-comment-link">Все объявления</a></div>

                                                    {% include 'other_user_products.html'  %}

                                                    <div class="comment-list"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>


                            </div>

                            <div class="col-sm-3 hidden-xs hidden-sm hidden-lg right-col-nested ">

                                <div class="row mobile-col">
                                    <!--Right promo test -->

                                    <div class="col-xs-12 visible-sm">


                                        <div class="listing-details-main">
                                            <div id="detail-cost-wrapper" class="detail-cost-wrapper text-center">
                                                <span class="listing-price-text title formatted"><sup>$</sup>35</span><sup>.00</sup>
                                                <input type="hidden" value="35" id="list-price">
                                            </div>

                                            <div class="hidden-xs">
                                                <a href="/checkout/kryptonite-bolt-down-lock-anchor-274449"
                                                   class="btn btn-orange text-center text-medium buy-now-btn"
                                                   attr-marketplace="BMW MOA">Купить</a>

                                            </div>


                                            <p class="text-right comments-anchor">
                                                <a href="#listing-comments-desktop">0 Comments</a>
                                            </p>
                                        </div>


                                    </div>

                                    <div class="col-xs-12">
                                        <div class="section-container side-container seller-info-container">
                                            <div class="visible-xs">
                                                <a role="button" data-toggle="collapse" href="#verifications"
                                                   aria-expanded="false" aria-controls="verifications">
                                                    <p>О продавце</p><i class="icon-drop_down_arrow"></i>
                                                </a>
                                            </div>

                                            <div class="hidden-xs">
                                                <p class="side-headline text-center"><strong>О продавце</strong>
                                                </p>
                                            </div>

                                            <div class="collapse" id="verifications">
                                                <div class="collapse-wrapper">
                                                    <p><a href="#"
                                                          class="link-blue">{{ adv.user.username }}</a></p>
                                                    <p>
                                                        <i class="fa fa-star filled"></i>
                                                        <i class="icon-star filled"></i>
                                                        <i class="icon-star filled"></i>
                                                        <i class="icon-star"></i>
                                                        <i class="icon-star"></i>
                                                        <a href="#"
                                                           class="feedback-count">
                                                            <span>(3)</span>
                                                        </a>
                                                    </p>


                                                    <div class="verifications-container">
                                                        <div class="verification-wrapper">
                                                            <div class="verification-icon">
                                                                <i class="icon-check_s"></i>
                                                            </div>
                                                            <div class="verification-text">
                                                                <p>Panjo</p>

                                                                <p class="text-small">Sold 14, Bought 0</p>

                                                                <p class="text-small">Member Since: June '15</p>
                                                            </div>
                                                        </div>

                                                        <div class="verification-wrapper">
                                                            <div class="verification-icon">
                                                                <i class="icon-check_s"></i>
                                                            </div>
                                                            <div class="verification-text">Verified Email</div>
                                                        </div>
                                                        <div class="verification-wrapper">
                                                            <div class="verification-icon">
                                                                <i class="icon-check_s"></i>
                                                            </div>
                                                            <div class="verification-text">PayPal</div>
                                                        </div>

                                                        <div class="verification-wrapper">
                                                            <div class="verification-icon">
                                                                <i class="icon-check_s"></i>
                                                            </div>
                                                            <div class="verification-text">
                                                                <p>BMW MOA</p>
                                                                <p class="text-small">Username: kneeslider</p>
                                                            </div>
                                                        </div>

                                                        <p class="text-center"><a href="{% url 'user_pruduct_list' adv.user.username %}"
                                                                                  class="link-blue">View Store</a></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-xs-12 text-center">
                                        <div class="section-container side-container community-container">
                                            <div class="visible-xs">
                                                <a role="button" data-toggle="collapse" href="#community"
                                                   aria-expanded="false" aria-controls="community">
                                                    <p>About BMW MOA</p><i class="icon-drop_down_arrow"></i>
                                                </a>
                                            </div>

                                            <div class="hidden-xs">
                                                <p class="side-headline text-center">
                                                    <strong>{{ adv.subcategory }}  </strong></p>
                                            </div>

                                            <div class="collapse" id="community">
                                                <div class="collapse-wrapper">
                                                    <div class="community-img-container">
                                                        <a href="/p/bmw-motorcycle-owners-of-america">
                                                            {% thumbnail adv.subcategory.image "x76" crop="top" as im %}
                                                                <img src="{{ im.url }} " width="{{ im.width }}"
                                                                     height="{{ im.height }}"
                                                                     alt="Forum image" class="img-responsive"
                                                                     title="BMW MOA">

                                                            {% endthumbnail %}
                                                        </a>
                                                    </div>

                                                    <div class="follow-btn-container">
                                                        <a href="javascript:void(0);" class="btn btn-follow"
                                                           data-mktplace-id="1151" data-mktplace-title="BMW MOA">
                                                            <div class="icon-container">
                                                                <i class="icon-add"></i>
                                                            </div>
                                                            <div class="follow-text-container"></div>
                                                        </a>
                                                    </div>

                                                    <p class="text-center text-small">2667 Following</p>

                                                    <div class="subpanjo-links">


                                                        <div class="hidden-xs">
                                                            <div class="col-xs-12">
                                                                <div class="additional-items-container">
                                                                    <div class="row">
                                                                        <div class="col-xs-12">


                                                                        </div>
                                                                    </div>

                                                                    <div class="row text-center">
                                                                        <!-- Quick View Modal-->


                                                                        <!-- Additional Listing Result -->


                                                                    </div>


                                                                    <div class="row view-all-container">
                                                                        <div class="col-xs-12">
                                                                            <p>
                                                                                <a href="{{ adv.subcategory.get_absolute_url }}"
                                                                                   class="btn btn-primary transparent">Еще
                                                                                    предложения</a></p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <p><a href="/p/bmw-motorcycle-owners-of-america">View
                                                            Marketplace</a></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

{#                                    <div class="col-xs-12 sticky-wrapper hidden-xs" style="display: none;">#}
{#                                        <div class="side-container sticky-container">#}
{#                                            <p class="side-headline text-center"><strong>Kryptonite Bolt Down Lock#}
{#                                                Anchor</strong></p>#}
{#                                            <p class="text-center">#}
{#                                                <span class="listing-price-text title formatted"><sup>$</sup>35</span><sup>.00</sup>#}
{#                                            </p>#}
{#                                            <a href="/checkout/kryptonite-bolt-down-lock-anchor-274449"#}
{#                                               class="btn btn-orange text-center text-medium buy-now-btn"#}
{#                                               attr-marketplace="BMW MOA">Buy Now</a>#}
{#                                            <p class="text-center"><img src="/Content/images/panjo/detail/moneyBack.svg"#}
{#                                                                        alt="Guarantee"></p>#}
{#                                        </div>#}
{#                                    </div>#}
                                </div>
                            </div>
                        </div>
                        <!-- End Left Column Lower Rows -->
                    </div>
                    <!-- End Left Column-->

                    <!-- Right Column-->
                    <div class="col-sm-3 visible-sm visible-lg right-col">

                        <div class="row mobile-col">
                            <!--Right promo test -->

                            <div class="col-xs-12 visible-sm">


                                <div class="listing-details-main">
                                    <div id="detail-cost-wrapper" class="detail-cost-wrapper text-center">
                                        <span class="listing-price-text title formatted"><sup>$</sup>35</span><sup>.00</sup>
                                        <input type="hidden" value="35" id="list-price">
                                    </div>

                                    <div class="hidden-xs">
                                        <a href="/checkout/kryptonite-bolt-down-lock-anchor-274449"
                                           class="btn btn-orange text-center text-medium buy-now-btn"
                                           attr-marketplace="BMW MOA">Купить</a>

                                    </div>


                                    <p class="text-right comments-anchor">
                                        <a href="#listing-comments-desktop">0 Comments</a>
                                    </p>
                                </div>


                            </div>

                            <div class="col-xs-12">
                                <div class="section-container side-container seller-info-container">
                                    <div class="visible-xs">
                                        <a role="button" data-toggle="collapse" href="#verifications"
                                           aria-expanded="false" aria-controls="verifications">
                                            <p>О продавце</p><i class="icon-drop_down_arrow"></i>
                                        </a>
                                    </div>

                                    <div class="hidden-xs">
                                        <p class="side-headline text-center"><strong>О продавце</strong></p>
                                    </div>

                                    <div class="collapse" id="verifications">
                                        <div class="collapse-wrapper">
                                            <p><a href="#" class="link-blue">{{ adv.user }}</a></p>
                                            <p>
                                                <i class="fa fa-star filled"></i>
                                                <i class="fa fa-star filled"></i>
                                                <i class="fa fa-star filled"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <a href="/profile/67114/kneeslider#feedback-container"
                                                   class="feedback-count">
                                                    <span>(3)</span>
                                                </a>
                                            </p>


                                            <div class="verifications-container">
                                                <div class="verification-wrapper">
                                                    <div class="verification-icon">
                                                        <i class="icon-check_s"></i>
                                                    </div>
                                                    <div class="verification-text">
                                                        <p>Panjo</p>

                                                        <p class="text-small">Продано </p>

                                                        <p class="text-small">На ходу с: {{ adv.user.date_joined|date:"F, Y" }}</p>
                                                    </div>
                                                </div>

                                                <div class="verification-wrapper">
                                                    <div class="verification-icon">
                                                        <i class="icon-check_s"></i>
                                                    </div>
                                                    <div class="verification-text">Verified Email</div>
                                                </div>
                                                <div class="verification-wrapper">
                                                    <div class="verification-icon">
                                                        <i class="icon-check_s"></i>
                                                    </div>
                                                    <div class="verification-text">PayPal</div>
                                                </div>

                                                <div class="verification-wrapper">
                                                    <div class="verification-icon">
                                                        <i class="icon-check_s"></i>
                                                    </div>
                                                    <div class="verification-text">
                                                        <p>{{ adv.name }}</p>

                                                    </div>
                                                </div>

                                                <p class="text-center"><a href="{% url 'user_pruduct_list' adv.user.username %}"
                                                                          class="link-blue">View Store</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 hidden-xs">
                                <div class="side-container share-links-side">
                                    <div class="share-links-container">
                                        <span class="share-this share-headline text-center"><strong>Поделиться</strong></span>


                                        <div class="addthis_inline_share_toolbox"></div>

                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 text-center">
                                <div class="section-container side-container community-container">


                                    <div class="hidden-xs">
                                        <p class="side-headline text-center"><strong>{{ adv.subcategory }}</strong>
                                        </p>
                                    </div>

                                    <div class="collapse" id="community">
                                        <div class="collapse-wrapper">
                                            <div class="community-img-container">
                                                <a href="{{ adv.subcategory.get_absolute_url }} ">

                                                    {% thumbnail adv.subcategory.image "x76" crop="top" as im %}
                                                        <img src="{{ im.url }} " width="{{ im.width }}"
                                                             height="{{ im.height }}"
                                                             alt="Forum image" class="img-responsive"
                                                             title="{{ adv.subcategory }}">

                                                    {% endthumbnail %}
                                                </a>
                                            </div>

                                            <div class="follow-btn-container">
                                                <a href="javascript:void(0);" class="btn btn-follow"
                                                   data-mktplace-id="1151" data-mktplace-title="BMW MOA">
                                                    <div class="icon-container">
                                                        <i class="icon-add"></i>
                                                    </div>
                                                    <div class="follow-text-container"></div>
                                                </a>
                                            </div>

                                            <p class="text-center text-small">2667 Following</p>

                                            <div class="subpanjo-links">


                                                <div class="hidden-xs">
                                                    <div class="col-xs-12">
                                                        <div class="additional-items-container">
                                                            <div class="row">
                                                                <div class="col-xs-12">


                                                                </div>
                                                            </div>

                                                            <div class="row text-center">
                                                                <!-- Quick View Modal-->


                                                                <!-- Additional Listing Result -->

                                                            </div>


                                                            <div class="row view-all-container">
                                                                <div class="col-xs-12">
                                                                    <p>
                                                                        <a href="{{ adv.subcategory.get_absolute_url }}"
                                                                           class="btn btn-primary transparent"> Еще
                                                                            предложения </a></p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <p><a href="{{ adv.subcategory.get_absolute_url }}">Перейти на
                                                    ветрину</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <!-- End Right Column-->
                </div>
            </div>
        </div>
    </main>


    <script type="text/javascript">(function () {
        if (window.pluso)if (typeof window.pluso.start == "function") return;
        if (window.ifpluso == undefined) {
            window.ifpluso = 1;
            var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
            s.type = 'text/javascript';
            s.charset = 'UTF-8';
            s.async = true;
            s.src = ('https:' == window.location.protocol ? 'https' : 'http') + '://share.pluso.ru/pluso-like.js';
            var h = d[g]('body')[0];
            h.appendChild(s);
        }
    })();</script>

{% endblock %}

{% block javascript %}

    {% addthis_widget %}

    <script src="{% static 'blueimp-gallery/js/blueimp-gallery.min.js' %}"></script>

    <script>
        document.getElementById('links').onclick = function (event) {
            event = event || window.event;
            console.log('In into carusele')
            var target = event.target || event.srcElement,
                    link = target.src ? target.parentNode : target,
                    options = {index: link, event: event},
                    links = this.getElementsByTagName('a');
            blueimp.Gallery(links, options);
        };
    </script>

    <script>
        blueimp.Gallery(
                document.getElementById('links').getElementsByTagName('a'),
                {
                    container: '#blueimp-gallery-carousel',
                    carousel: true
                }
        );
    </script>

{% endblock %}
