  <div class="col-md-10" style="padding-left: 150px">



            {% for cat in cat_list %}

                <div class="category-container">

                    <div class="cat-dr">
                    <a href="{{ cat.get_absolute_url }}" class="cat-hreff">
                 <div class="category btn btn-primary" id = "{{ cat.pk }}">


                 {{ cat.name }} {% if cat.count_products > 0 %} [{{ cat.count_products }}] {% endif %}







                </div> </a>

                <ul class="dropdown-menu" aria-labelledby="{{ cat.pk }}">


                                  {% for subcat in subcat_list %}

                                    {% if subcat.category.name == cat.name %}

                                    <li><a href="{{ subcat.get_absolute_url }}">{{ subcat.name }} {% if subcat.count_products > 0 %} [{{ subcat.count_products }}]{% endif %}</a></li>

                                   {% endif %}

                                {% endfor %}

                             </ul>
                    </div>
{#                      <div class="category dropdown">#}
{#                      <a href="#"id="{{ cat.pk }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">#}
{#                          <span class="caret"></span></a> Подкатегория#}






{#                       </div>#}
            </div>

           {% endfor %}
            <div class="cl"></div>
            <div>{% if category %} <h4> Категория <strong>[{{ category.name}}]</strong>  <a href="{% url 'callboard' %}"> oчистить  </a>
            {% if subcategory %}
                 >> Подкатегория <strong>[{{ subcategory.name}}]</strong>  <a href="{{ category.get_absolute_url }}"> oчистить  </a>  </h4>
            {% endif%} {% endif %}

            {% if attr_form %}



            <form method="GET" action="{% url 'subcategory' category.slug subcategory.slug %}">

                {{ attr_form.as_p }}

            <input type="hidden" name="sort" value = {{ request.GET.sort }}>
            <input type="submit"  class="btn btn-default"> Фильтр </input>
            </form>
            <a href='{% url 'callboard' %}'>Очистить фильтр</a>
            </div>

            {% endif %}

            </div>

        </div>