  <div class="col-md-10" style="padding-left: 150px">


            <div class="category-trigger">
            {% for cat in cat_list %}

                <div class="category-container">

                    <div class="cat-dr">
                    <a href="{{ cat.get_absolute_url }}" class="cat-hreff">
                 <div class="category btn btn-primary" id = "{{ cat.pk }}">


                 {{ cat.name}} {% if cat.count_products > 0 %} [{{ cat.count_products }}] {% endif %}


                </div> </a>
                </div>

            </div>

           {% endfor %}
            </div>
            <div class="cl"></div>
            <div>{% if category %} <h4 class = 'show_subcat' id="{{ category.pk }}"> Категория <strong>[{{ category.name}}]</strong>  <a href="{% url 'callboard' %}"> oчистить  </a>
            {% if subcategory %}
                 >> Подкатегория <strong>[{{ subcategory.name}}]</strong>  <a href="{{ category.get_absolute_url }}"> oчистить  </a>  </h4>
            {% endif%} {% endif %}


            <div class="subcatdiv"> </div>

            {% if attr_form %}


            <form method="GET" action="{% url 'subcategory' category.slug subcategory.slug %}">

                {{ attr_form.as_p }}

            <input type="hidden" name="sort" value = {{ request.GET.sort }}>
            <input type="submit"  class="btn btn-default"> Фильтр </input>
            </form>
            <a href='{% url 'callboard' %}'>Очистить фильтр</a>
            </div>

            {% endif %}

            </div>

        </div>
<script>

MarkaMoto = getParameterByName('MarkaMoto');
ModelMoto = getParameterByName('ModelMoto');
Condition = getParameterByName('Condition');
CreatYear = getParameterByName('CreatYear');
Color = getParameterByName('Color');


$("#id_MarkaMoto").val(MarkaMoto);
$("#id_ModelMoto").val(ModelMoto);
$("#id_CreatYear").val(CreatYear);
$("#id_Condition").val(Condition);
$("#id_Color").val(Color);





 if ($('.show_subcat').text() != '') {

     category_id = $(".show_subcat").attr('id');
     $('.category-trigger').hide();
     get_subcat_list(category_id);


 }

</script>