{% extends 'base.html' %}
{% load bootstrap3 %}


{% block social %}

{{ form.media }}


{% endblock %}



{% block content %}

<div class="container starter-template">

<div class="row">
<div class="col-lg-10">
<div class="container-fluid">

{% if next %}
<form action="{% url 'createadv' %}?next={{ request.GET.next }}" method="post" enctype="multipart/form-data">
{%else%}
<form action="{% url 'createadv' %}" method="post" enctype="multipart/form-data">
{% endif %}


<div> Рубрика <a id="choose-category-button" href="javascript:void(0);"
                 class="button cfff br3 fnormal" style="display: inline-block"> <span>Выбрать</span> </a> </div>

    {% csrf_token %}

    {% bootstrap_form form %}



    {% if next %}
    <input type="hidden" name="next" value="{{ request.GET.next }}">
    {% endif %}
    {% buttons %}
    <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "star" %} Добавить </button>
    {% endbuttons %}
</form>
</div>
</div>
</div>
</div>
<script>


$(function(){
  $('select[name=subcategory]').empty();
  $('select[name=subcategory]').prepend('<option value="" selected disabled>Выбирите категорию...</option>');
  // called when category field changes from initial value
  $('select[name=category]').change(function(){
    if($("#id_category option:selected").text() != '') {
    category_id = $('select[name=category]').val();
    request_url = '/callboard/get_subcategory/' + category_id + '/';
      $.ajax({
        url: request_url,
        type: "GET",
        success: function(data){
          $('select[name=subcategory]').empty();
          $('select[name=subcategory]').prepend('<option value="" selected>Подкатегория...</option>');
          $.each(data, function(key, value){

            $('select[name=subcategory]').append('<option value="' + key + '">' + value + '</option>');
          });
        }
      })
    }
  })
});



$("#id_subcategory").change(function(){

    sub_id = $("#id_subcategory").val();
    $(".formdiv").remove();
    get_attr_form(sub_id,'');



});


$("#id_types").change(function(){

    sub_id = $("#id_subcategory").val();
    id_type = $("#id_types").val();
    $(".formdiv").remove();
    get_attr_form(sub_id,id_type);



});

</script>
{% endblock %}