{% extends 'base.html' %}
{% load threadedcomments_tags %}
{% load humanize %}
{% load thumbnail %}
{% load cut_time %}
{% load comment_last %}
{% load static %}


  {% block social %}
<meta property = "og:title" content = "Заголовок " />
<meta property = "og:type" content = "article" />
<meta property = "og:image" content = "http://site.name/image-url" />
<meta property = "og:description" content = "Описание 30-40 слов" />


  {% endblock %}


{%  block title %}
    Главная
{% endblock %}

{% block content %}


    <div class="container-fluid">

        <div class="starter-template">

            <div class="container-fluid">


                <div class="row">

                    <div class="content">
{#                        <div class="slider">#}
{##}
{#                            {% if content %}#}
{##}
{##}
{#                                {% for i in content|slice:'24' %}#}
{#                                    <div class="slide">#}
{##}
{#                                        {% thumbnail i.get_image "x100" crop="top" as im %}#}
{##}
{#                                    <div class="slide-div">#}
{#                                            <a href="{% url 'advdetail' i.pk %}">#}
{#                                     <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="listing-image" style="display: inline">#}
{##}
{#                                    {% endthumbnail %}#}
{##}
{#                                        <p>{{ i.name|truncatechars:19 }}</p>#}
{#                                    </a>#}
{##}
{#                                    </div>#}
{#                                    </div>#}
{#                                {% endfor %}#}
{##}
{#                            {% endif %}#}
{##}
{##}
{#                        </div>#}


                    </div>


                </div>


                <div class="row">



                    <div class="col-md-9">
                    <div class="align-left" style="text-align: left ; margin-left: 40px; padding-bottom: 5px"> <b>Новое на витрине.</b> <a href="{% url 'callboard' %}"> Смотреть все</a></div>
{#блок с объявлениями#}

                    {% include 'product_list.html' with content=content %}

                    </div>

{#новое в сообществах#}
                    <div class="col-md-3">
                        <div class="row">

                            {% include 'new_community_list.html' with forums=forums %}
                            <div style="text-align: right; margin-right: 5px;margin-top: 3px"><a href="{% url 'forums' %}"> Смотреть все </a></div>


                        </div>

                        <div class="row">
                            <div class="main-block-reviews">

                                <div class="main-block-header">
                                    <p>Новые обзоры</p>

                                    {% if forums %}
                                        {% for forum in forums %}
                                            {% get_comment_count for forum as forum_count %}

                                            <div class="top-day-item">
                                                <div class="top-day-name">

                                                    <a href="{% url 'forum' forum_name=forum.forum_slug %}" title="{{ forum.forum }}"
                                                       class="blog-link">{{ forum.forum }}</a> →
                                                    <a href="{% url 'article' forum.id %}"
                                                       title="{{ forum.name }}">{{ forum.name|truncatechars:60 }}</a>
                                                </div>
                                                <div class="author">

                                                    <a href="{{ forum.username.userprofiletable_set.get.get_absolute_url }}"
                                                       class="m off">{{ forum.username }}</a>
                                                </div>
                                                <div class="data-publ">{{ forum.creation_date|naturaltime }}</div>

                                                <div class="cl"></div>
                                                <div class="rating">
                                                    <i class="fa fa-thumbs-o-up" title="Лайки"> <span class="counter-like">0</span></i>
                                                    <i class="fa fa-eye" title="Кол-во просмотров" ><span class="counter-views">{{ forum.views }}</span></i>
                                                    <a href="{% url 'article' forum.id %}#c{{ forum_count }}">
                                                        <i class="fa fa-comment-o" title="Комментарии"><span class="counter-com"
                                                       href="{% url 'article' forum.id %}#c{{ forum_count.id }}"
                                                       >{{ forum_count }}</span></i></a>
                                                </div>
                                                 </div>

                                        {% endfor %}

                                    {% endif %}
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>


    </div>


    




{% endblock %}




